@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@900&family=Montserrat:wght@500&family=Orbitron:wght@600&display=swap');


$navigation-height: 5em;
$main-color-thema: #f87567;
$main-color-font: cornsilk;

html {
    
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    text-align: center;
    color: $main-color-font;
}

nav {
    font-family: 'Orbitron', sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #333;
    border: none;
    height: $navigation-height;
    display: flex;
    align-items: center;
    z-index: 5;
    & ul {
        list-style-type: none;
        margin: 0;
        padding-left: 2.5em;
        display: flex;
        flex-direction: row;
        gap: 1em;
    }
    & a {
        text-decoration: none;
        color: $main-color-font;
        transition: all .25s linear;
    }
}

section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

section:nth-child(odd) {
    background-color: #373737;
}

section:nth-child(even) {
    background-color: #444;
}

// SECTION ONE
#one {
    font-family: 'Lexend', sans-serif;
    text-align: left;
    justify-content: start;
    & .introduction {
        font-size: 32px;
        padding-left: 1.25em;
        & p {
            margin: 0.25em 0;
        }
    }
}

.technology {   
    cursor: pointer;
    display: inline;
    margin-right: 0.4em;
    animation: color-change 4s infinite;
    & span {
        display: inline-block;
        position: relative;
        transition: transform .25s ease;
        margin-right: -0.3em;
        &:hover {
            transform: translateY(-14px);
            transition: transform 0.25s ease;
        }
    } 
}

@keyframes color-change {
    0% { color: #f87567; }
    50% { color: #1fddff; }
    100% { color: #f87567; }
}

.code {
    display: inline;
}


#two {
    & .skillmea-anchor {
        color: $main-color-font;
    }
}

.font-color-one {
    color: #1fddff;
}

.font-color-two {
    color: #f87567;
}

nav a{
    &.active {
        color: $main-color-thema;
        border-bottom: 3.5px solid $main-color-thema;
    }
    &:hover {
        color: $main-color-thema;
    }
}

  