@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@900&family=Montserrat:wght@500;700;900&family=Orbitron:wght@600;900&display=swap");
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  text-align: center;
  color: cornsilk;
}

section {
  min-height: 100vh;
  display: flex;
}

.container {
  margin: 0 2.5em;
}

nav {
  font-family: "Orbitron", sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: linear-gradient(360deg, rgba(0, 0, 0, 0), rgb(0, 0, 0));
  border: none;
  height: 6em;
  display: flex;
  align-items: center;
  z-index: 5;
}
nav ul {
  display: flex;
  flex-direction: row;
  gap: 1em;
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}
nav a {
  text-decoration: none;
  color: cornsilk;
  transition: all 0.25s linear;
}

.active-one {
  color: #eb3a01;
  border-bottom: 3.5px solid #eb3a01;
}
.active-two {
  color: #18b1d1;
  border-bottom: 3.5px solid #18b1d1;
}
.active-three {
  color: #feea02;
  border-bottom: 3.5px solid #feea02;
}

#one {
  background: linear-gradient(45deg, rgb(0, 0, 0), rgba(0, 0, 0, 0) 65%);
  font-family: "Orbitron", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  text-align: left;
  overflow: hidden;
  flex-direction: column;
  justify-content: end;
}

.introduction {
  display: flex;
  flex-direction: column;
  justify-content: end;
  margin-bottom: 2.5em;
  z-index: 2;
}
.introduction p {
  margin: 0.15em 0 0 0;
  font-size: 2em;
}
.introduction .name {
  color: #feea02;
}

.technology {
  cursor: pointer;
  display: inline;
  margin-right: 0.4em;
  border-bottom: solid 3px #eb3a01;
  transition: all 0.35s ease;
  color: #eb3a01;
}
.technology:hover {
  border-bottom: none;
  transition: all 0.35s ease;
  color: rgb(81, 231, 81);
}
.technology span {
  display: inline-block;
  position: relative;
  transition: transform 0.25s ease;
  margin-right: -0.35em;
}
.technology span:hover {
  transform: translateY(-14px);
  transition: transform 0.25s ease;
}

.code {
  color: #18b1d1;
}

.background-one {
  background: url(../img/colorful-background.jpg);
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}

#two {
  background-color: black;
}
#two .container {
  margin-top: 6em;
}
#two .skillmea-anchor {
  color: #eb3a01;
}

.courses {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
  max-width: 100vw;
}
.courses div {
  display: grid;
  grid-template-columns: 1fr 10fr;
  background-color: rgb(19, 19, 19);
  padding: 1em;
  border-radius: 0.5em;
  text-align: left;
  transition: all 0.25s ease;
}
.courses div:hover {
  scale: 1.025;
  transition: all 0.25s ease;
}
.courses div img {
  grid-column: 1/2;
  max-width: 75px;
  max-height: 75px;
  border-radius: 0.75em;
}
.courses div h3 {
  grid-column: 2/3;
  font-weight: 700;
  margin: 0.25em 0.5em;
  color: rgb(224, 224, 224);
}
.courses div p {
  grid-column: 1/3;
  color: rgb(165, 165, 165);
}/*# sourceMappingURL=style.css.map */