@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@900&family=Montserrat:wght@500;700;900&family=Orbitron:wght@600;900&display=swap');

$navigation-height: 6em;
$container-margin: 2.5em;

$main-color-thema: #eb3a01;
$second-color-thema: #18b1d1;
$third-color-thema: #feea02;
$main-color-font: cornsilk;

html {   
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    text-align: center;
    color: $main-color-font;
}

section {
    min-height: 100vh;
    display: flex;
    //align-items: center;
    //justify-content: center;
}

.container {
    margin: 0 $container-margin;
}

//NAVIGATION
nav {
    font-family: 'Orbitron', sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: linear-gradient(360deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
    border: none;
    height: $navigation-height;
    display: flex;
    align-items: center;
    z-index: 5;
    & ul {
        display: flex;
        flex-direction: row;
        gap: 1em;
        list-style-type: none;
        margin: 0;
        padding-left: 0;
    }
    & a {
        text-decoration: none;
        color: $main-color-font;
        transition: all .25s linear;
    }
}

.active{
    &-one{
        color: $main-color-thema;
        border-bottom: 3.5px solid $main-color-thema;
    }
    &-two{
        color: $second-color-thema;
        border-bottom: 3.5px solid $second-color-thema;
    }
    &-three{
        color: $third-color-thema;
        border-bottom: 3.5px solid $third-color-thema;
    }
}

// SECTION ONE
#one {
    //background: radial-gradient(circle at bottom left, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    background: linear-gradient(45deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0) 65%);
    font-family: 'Orbitron', sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    text-align: left;
    overflow: hidden;
    flex-direction: column;
    justify-content: end;
}

.introduction {
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin-bottom: $container-margin;
    z-index: 2;    
    & p {
        margin: 0.15em 0 0 0;
        font-size: 2em;
    }
    & .name {
        color: #feea02;
    }
}

.technology {   
    cursor: pointer;
    display: inline;
    margin-right: 0.4em;
    border-bottom: solid 3px $main-color-thema;
    transition: all 0.35s ease;
    color: $main-color-thema;
    &:hover{
        //animation: color-change 2.5s infinite;
        border-bottom: none;
        transition: all 0.35s ease;
        color: rgb(81, 231, 81);
    }
    & span {
        display: inline-block;
        position: relative;
        transition: transform .25s ease;
        margin-right: -0.35em;
        &:hover {
            transform: translateY(-14px);
            transition: transform 0.25s ease;
        }
    } 
}

.code {
    color: $second-color-thema;
}

.background-one {
    background: url(../img/colorful-background.jpg);    
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}

//SCTION TWO
#two {
    background-color: black;
    & .container {
        margin-top: $navigation-height;
    }
    & .skillmea-anchor {
        color: $main-color-thema;
    }
}

.courses {
    margin-bottom: 1em;
    display: grid;
    gap: 0.25em;
    & div {
        display: grid;
        grid-template-columns: 1fr 2fr;    
        background-color: $second-color-thema;
        //width: 75%;
        //grid-template-rows: 3;
        padding: 0.5em;
        border-radius: 0.5em;
        text-align: left;
        //justify-items: start;
        //align-items: start;
        & img {
            grid-column: 1 / 2;
            max-width: 75px;
            max-height: 75px;
            border-radius: 0.75em;
        }       
        & h3 {
            grid-column: 2 / 3;
            font-weight: 700;
            margin: 0;
        }
        & p {
            grid-column: 1 / 3;
        }  
    }
}

.webrebel {
    grid-row: 1 / 3;
}

.oop {
    grid-column: 2 / 4;
}


  