@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@900&family=Montserrat:wght@500;700;900&family=Orbitron:wght@600;900&display=swap');

$navigation-height: 6em;
$container-margin: 2.5em;
$img-size: 75px;

$basic-transition: all 0.5s ease;

$main-color-thema: #eb3a01;
$second-color-thema: #18b1d1;
$third-color-thema: #feea02;
$fourth-color-thema: rgb(81, 231, 81);
$main-color-font: cornsilk;


// GENERAL
html {   
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    text-align: center;
    color: $main-color-font;
}

section {
    min-height: 100vh;
    display: flex;
    //align-items: center;
    //justify-content: center;
}

.container {
    margin: 0 $container-margin;
}

// NAVIGATION
nav {
    font-family: 'Orbitron', sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: linear-gradient(360deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
    border: none;
    height: $navigation-height;
    display: flex;
    align-items: center;
    z-index: 5;
    & ul {
        display: flex;
        flex-direction: row;
        gap: 1em;
        list-style-type: none;
        margin: 0;
        padding-left: 0;
    }
    & a {
        text-decoration: none;
        color: $main-color-font;
        transition: all .25s linear;
    }
}

.active{
    &-one{
        color: $main-color-thema;
        border-bottom: 3.5px solid $main-color-thema;
    }
    &-two{
        color: $second-color-thema;
        border-bottom: 3.5px solid $second-color-thema;
    }
    &-three{
        color: $third-color-thema;
        border-bottom: 3.5px solid $third-color-thema;
    }
}

// SECTION ONE
#one {
    //background: radial-gradient(circle at bottom left, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    //background: linear-gradient(45deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0) 65%);
    font-family: 'Orbitron', sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    text-align: left;
    overflow: hidden;
    flex-direction: column;
    justify-content: end;
    position: relative;
    z-index: 3;
}

.introduction {
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin-bottom: $container-margin;
    z-index: 2;    
    & p {
        margin: 0.15em 0 0 0;
        font-size: 2em;
    }
    & .name {
        color: #feea02;
    }
}

.technology {   
    cursor: pointer;
    display: inline;
    margin-right: 0.4em;
    //border-bottom: solid 3px $main-color-thema;
    transition: all 0.35s ease;
    color: $main-color-thema;
    &:hover{
        //animation: color-change 2.5s infinite;
        border-bottom: none;
        transition: all 0.35s ease;
        color: $fourth-color-thema;
    }
    & span {
        display: inline-block;
        position: relative;
        transition: transform .25s ease;
        margin-right: -0.35em;
        &:hover {
            transform: translateY(-14px);
            transition: transform 0.25s ease;
        }
    } 
}

.code {
    color: $second-color-thema;
}

.background-one {
    background: url(../img/colorful-background.jpg);    
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 120%;
    position: absolute;
    z-index: 1;
    & div {
        position: relative;
        width: 100%;
        height: 100%;
        background: linear-gradient(45deg, rgba(0, 0, 0, 1) 10%, rgba(0, 0, 0, 0) 65%);
        z-index: 2;
    }
}

// SECTION TWO
#two {
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 85%, rgba(0, 0, 0, 0)100%);
    justify-content: flex-end;
    position: relative;
    z-index: 3;

    & .container {
        margin-top: $navigation-height;
    }
}

.about-me {
    text-align: right;
    & p {
        width: 50vw;
    }
}

// SECTION THREE

#three {
    background-color: #000;
    text-align: left;
    & .container {
        margin-top: $navigation-height;
    }
}

.course-box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
}

.course-box-item {
    overflow: hidden;
    border-radius: 28px;
    padding: 1.5em;
    background-color: #121212;
    overflow: hidden;
    position: relative;
    color: $main-color-font;
}

.course-box-item:hover {
    & .item-bg {
        transform: scale(10.5);
    }

    & .logo-and-name {
        left: -6.5em;
        & h3 {
            margin: 0 0 0 1.4em;
            & a {
                text-decoration: underline;
            }
        }
    }
    & .description {
        top: -1em;
    }
}

.logo-and-name {
    display: flex;
    //margin-right: 2em;
    position: relative;
    left: 0;
    z-index: 2;
    transition: $basic-transition;
    & img {
        max-width: $img-size;
        height: $img-size;
        border-radius: 0.75em;
        transform: scale(1);
        transition: $basic-transition;
    }
    & h3{
        font-size: 20px;
        margin: 0 0.75em;
        transition: $basic-transition;
        & a {
            color: $main-color-font;
            text-decoration: none;
            transition: $basic-transition;
        }
    }
}

.description {
    display: flex;
    position: relative;
    top: 0;
    margin-top: 1em;
    z-index: 2;
    transition: $basic-transition;
}



.item-bg {
    height: 128px;
    width: 128px;
    position: absolute;
    top: -75px;
    right: -75px;
    border-radius: 50%;
    transition: $basic-transition;
}


.webrebel .item-bg {
    background-color: #db3a09;
}

.oop .item-bg {
    background-color: #f9b234;
}

.sass .item-bg {
    background-color: #952aff;
}

.github .item-bg {
    background-color: #3ecd5e;
}

.js-games .item-bg {
    background-color: $second-color-thema;
}

.ag-courses_item:nth-child(3n) .ag-courses-item_bg {
    background-color: #e44002;
}


.ag-courses_item:nth-child(5n) .ag-courses-item_bg {
    background-color: #cd3e94;
}

.ag-courses_item:nth-child(6n) .ag-courses-item_bg {
    background-color: #4c49ea;
}


//MEDIA
@media only screen and (max-width: 1024px){
    .course-box {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width: 800px){
    .container {
        margin: 0 1em;
    }

    .introduction {
        margin-bottom: 1em;
        & p {
            font-size: 1.5em;
        }
    }

    .logo-and-name{
        & h3 {
            font-size: 16px;
        }
    }

}

@media only screen and (max-width: 600px){
    .course-box {
        grid-template-columns: 1fr;
    }
}
  